/* styling applied to all pages */

body {
    margin:0; /* default margin is 8px, this overrides that for things like the footer*/
    color: rgb(0, 0, 0); /*sets all text in the body/protein section to the same colour*/
    overflow-x: hidden;
}

html {
    background-color: rgba(249, 246, 244, 1); /*sets bg colour for the whole page, all pages*/
    /* margin: auto 5%; */
    scroll-behavior: smooth; /*makes jump links scroll smoothly instead of jumping*/
}

a {
    color:rgba(36, 89, 2, 1);
}

img {
    border-radius: 0.7rem;
}



/* this is the old navigation bar, kept here for reference

.top-nav {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;

    top: 3%;
    width: 90%;
    margin-left: 65px;
    text-align: right;

    /* styling referenced from figma dev mode 
    border-radius: 0.7rem;
    border: 3px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    /* box-shadow: offset-x offset-y blur-radius colour; https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow 
    box-shadow: 0.35rem 0.35rem rgba(36, 89, 2, 1);
    z-index: 1;
}



@media screen and (max-width: 600px) {
   

}

.nav-bar {
    position: relative;
    margin: auto 3%;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.top-nav a {
    color: rgba(36, 89, 2, 1);
    text-decoration: none;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block; 
    width: 25px;
    height: 3px; 
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: black;
}


/* flex box: https://www.w3schools.com/css/css3_flexbox.asp 
.logo-div {
    display: flex;
    position: fixed;
    top: 0%;
    margin-left: 65px;
    width: 8.5rem;
    height: auto;

    /* styling referenced from figma dev mode 
    border-radius: 0.7rem;
    border: 3px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    /* box-shadow: offset-x offset-y blur-radius colour; https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow 
    box-shadow: 0.35rem 0.35rem rgba(36, 89, 2, 1);
    z-index: 2;
}

.nav-logo {
    font-size: 1.8rem;
    line-height: 86%;
    padding: 10px 15px;
    border-radius: 0.7rem;
    align-items: center;
    float: left;
    text-align: left;
    text-decoration: none;
    color:rgba(36, 89, 2, 1)
}

/* splits the home page from the rest of the links using split class and float*/
/* .top-nav a.split {
    float: left;
}

.top-nav a {
    margin: auto 5%;
    display: inline-block;
    padding: 1.5rem 0;
} */

/* hover effect on links: https://www.w3schools.com/cssref/sel_hover.php 
.nav-bar a:hover {
    background-color: rgba(36, 89, 2, 1);
    color: rgba(249, 246, 244, 1);
  }

  .nav-bar a.active {
    background-color: rgba(36, 89, 2, 1);

    }*/


/* this is the updated navigation bar */

header {
    position: fixed;
    top: 0;
    width: 100%;
    /*z index 2 so the navigation bar will go over everything */
    z-index: 2;
}

.nav-item {
    list-style: none;
}

.header a {
    font-family: 'Swily Bright', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: rgba(36, 89, 2, 1);
    margin-right: 2%;
    flex-shrink: 0;
}

.header a:hover {
    color: rgba(115,186,79,1);
    font-weight: 400;
}

.header a.active {
    text-decoration: underline;
    color:rgba(36, 89, 2, 1);
    font-weight: 400;

}

.header-container {
    margin: auto;
    margin-top: 8px;
}

.header-subcontainer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;


    background-color: #F9F6F4;
    border-radius: 0.7rem;
    border: 3px solid rgba(36, 89, 2, 1);
    /* box-shadow: offset-x offset-y blur-radius colour; https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
    box-shadow: 0.35rem 0.35rem rgba(36, 89, 2, 1);
}

.navbar {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    white-space: nowrap;
    margin-right: 2%;
}

.nav-branding {
    font-size: 1.8rem;
    line-height: 86%;
    padding: 10px 15px; /*top right bottom left*/
    border-radius: 0.7rem;
    align-items: center;
    float: left;
    text-align: left;
    text-decoration: none;
    color:rgba(36, 89, 2, 1)
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    margin-right: 0;
}

#menu-icon {
    width: 45%;
    height: 45%;
    margin-left: 40%;
    border-radius: 0; /*override the img border radius style from above */
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: rgba(36, 89, 2, 1);
    border-radius: 0.7rem;
}

/* making navigation bar responsive and coding the full screen menu for mobile*/

@media(max-width:850px) {
    .hamburger-menu {
        display: block;
    }

   .header.active {
        background-color: #F9F6F4;
        height: 100%;
        margin: 0;
        background: url(../images/wave-gradient.svg);
        background-repeat: repeat-x;
        animation: flow 10s linear infinite;
    }

    @keyframes flow {
        /* beginning of the animation*/
        0% {
            background-position: -1200px 400px;
        }
        /* end of the animation, changing x-position of the image*/
        100% {
            background-position: 0px 400px;

        }
    }

    @media (prefers-reduced-motion) {
        .header.active {
            animation: none;
        }
      }

    .nav-link {
        font-size: 2rem;
    }
    

    .header a:hover {
        color: rgba(115,186,79,1);
        font-weight: 400;
    }

    .header a.active {
        text-decoration: underline;
        color:rgba(36, 89, 2, 1);
    }

    .nav-menu {
        position: absolute;
        top: -1000px;
        gap: 0;

        flex-direction: column;
        width: 100%;
        justify-content: center;

        margin-top: 100px;
        margin-left: -10%;
        margin-right: 10%;
        
    }

    .nav-item {
        top: 200px;
        margin-top: 50px;
        font-size: 2rem;
    }

    .nav-menu.active {
        top: 0;
    }
}






.bottom-button {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5%;
    width: auto;
    background-color: none;
    font-size: 1.25rem;
    margin: 10% auto 10% auto;
}

.bottom-button a {
    color: rgba(36, 89, 2, 1);
    background-color: rgba(249, 246, 244, 1);
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-size: 1.25rem;
    width: auto;
    border-radius: 1.5rem;
    border: 2px solid rgba(36, 89, 2, 1);
    text-align: center;
}

@media (max-width:600px) {
    .bottom-button a {
        font-size: 0.9rem;

    }

}

.bottom-button a:hover {
    color: rgba(249, 246, 244, 1);
    background-color: rgba(249, 246, 244, 1);
    background: url(../images/wave-solid.svg);
    background-repeat: repeat-x;
    animation: flow 25s linear infinite;
}

@keyframes flow {
    /* beginning of the animation*/
    0% {
        background-position: -1200px 4px;
    }
    /* end of the animation, changing x-position of the image*/
    100% {
        background-position: 0px 0px;

    }
}

@media (prefers-reduced-motion) {
    .bottom-button a:hover {
        animation: none;
    }
}


.top-button {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 50%;
    width: auto;
    background-color: none;
    font-size: 1rem;
    margin-top: 100px;
    text-align: center;
}

.top-button a:hover {
    color:rgba(115, 186, 79, 1)
}


.back-to-top {
    position: sticky;
    right: 0;
    bottom: 2%;
    width: auto;
    background-color: none;
    font-size: 1.5rem;
    text-align: right;
    margin-right: 0.5%;
    margin-bottom: 2%;
}

.back-to-top a {
    color: rgba(36, 89, 2, 1);
    background-color: rgba(249, 246, 244, 1);
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-size: 1.25rem;

    border-radius: 1.5rem;
    border: 2px solid rgba(36, 89, 2, 1);
}

.back-to-top a:hover {
    background-color: rgba(36, 89, 2, 1);
    color: rgba(249, 246, 244, 1);
}



.footer {
    position: sticky;
    /*
    display: grid;
    grid-template-areas: 
        'header header header'
        'link link link'
        'bottom bottom bottom';
    column-gap: 100px;
    */
    
    width: 100%;
    height: 70vh;
    padding-top: 10px;
    background-color: rgba(36, 89, 2, 1);
    color: rgba(249, 246, 244, 1);
    text-align: center;
}

.footer a {
    color: rgba(249, 246, 244, 1);
}

.footer-header {
    grid-area: header;
}

.footer-nav {
    grid-area: link;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 0;
}

.footer-bottom {
    grid-area: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin-top: 40vh;
    white-space: nowrap;
}

.footer-logo a {
    /*grid-area: logo;*/
    text-decoration: none;

}

.footer-top a {
    /*grid-area: backtotop;*/
    color: rgba(36, 89, 2, 1);
    background-color: rgba(249, 246, 244, 1);
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-size: 1.25rem;

    border-radius: 1.5rem;
    border: 2px solid rgba(36, 89, 2, 1);

}

.footer-info {
   /*grid-area: info;*/
    background-color:none;
}





/* T Y P O G R A P H Y*/

@font-face {
    font-family: 'Vistol Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Vistol Sans'), url('https://fonts.cdnfonts.com/s/20007/VistolSans-Light.woff') format('woff');
}

h1 {
    font-family: 'Swily Bright', sans-serif;
    font-weight: 400;
    margin-top: 150px;
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Swily Bright', sans-serif;
    font-weight: 400;

    font-size: 2rem;
}

h3 {
    font-family: 'Swily Bright', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
}

p {
    font-family: 'Swily Bright', sans-serif;
    font-weight: 300;

    font-size: 1.125rem;
    line-height: 120%;
}

li {
    font-family: 'Swily Bright', sans-serif;
    font-weight: 300;
    line-height: 130%;
}

a {
    font-family: 'Swily Bright', sans-serif;
}

a:hover {
    color:rgba(115, 186, 79, 1)
}

/* responsive typography */

@media (max-width:600px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }
}



/* styling for the matcha essentials page */

/* .essentials-toc {
    position: fixed;
    left: 0;
    width: auto;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 5px 20px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1); 
} */


.section-1 {
    background-color: rgba(115, 186, 79, 1);
    color: #000000;
}

.section-1 h1 {
    text-align: left;
    padding-top: 1.5rem;
    margin-left: 10%
}

.section-1 h2 {
    text-align: left;
    margin-left: 10%;
}

.section-1 ol {
    text-align: left;
    margin-left: 10%;
    font-size: 1.25rem;
    /*list-style: none; */

    /* margin: 0.5rem 5% 5% 5%;*/
    padding-bottom: 1.5rem;
}

.section-1 a {
    color: #000000;
    line-height: 160%;

}

.section-1 li:hover, .section-1 a:hover {
    color: #F9F6F4;
}

.subsection-1 {
    list-style: lower-alpha;
}



.material-grid {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(10rem, 24rem)); /*makes grid responsive but doesn't scale content according to screen size */
    grid-template-columns: auto auto auto;
    /*grid-template-areas:
      'header header header'
      'main main2 main3'
      'main4 main5 main6'; */
    grid-gap: 1em 3em;
    padding: 10px 10px 50px;
    margin: auto 5% auto 5%;
    text-align: center;
  }

.material-grid figure {
    width: 60%;
    height: auto;
    text-align: center; /*figure works like text for some reason */
    margin-left: 20%;
    padding-bottom: 5px;
}

.material-grid img {
    width: 100%;
    height: 350px;
    padding-bottom: 5px;
}

/*two columns at 1000px*/
@media only screen and (max-width:1000px) {
    .material-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/*one column at 750px*/
@media only screen and (max-width:750px) {
    .material-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .material-grid img {
        width: 100%;
        height: auto;
        padding-bottom: 5px;
    }

    .material-grid figure {
        height: auto;
    }
}

.item-1 {
    /* grid-area: header; */
    padding-top: 5%;
    text-align: center;
}

.material-item {
    /* grid-area: main; */
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
    align-content: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* WHERE TO BUY MATCHA */

.buy-title {
    padding-top: 5%;
    grid-area: header;
    text-align: center;
    margin: auto 30% 3%;
}

/*carousel styling */

.swiper {
    width: 100%;
    height: auto;
    z-index: 0;
    background-color: rgba(36, 89, 2, 1);
}

.swiper-wrapper {
    margin: 2% auto 2% 5%;

}

.swiper-slide {
    max-width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9F6F4;

    margin-right: 5%
}

@media (max-width: 800px) {
    .swiper-slide {
        max-width: 48%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #F9F6F4;
        margin-right: 5%;
        margin-left: -3%;;
    }
}



.swiper-slide a {
    margin-top: 5%;
    color: #F9F6F4;
    
}

.swiper-slide a:hover {
    color: rgba(115,186,79,1);
    
}

.swiper-slide img {
    width: 100%;
    height: auto;
    align-content: center;
    border: 2px solid rgba(115,186,79,1);
    margin-bottom: 20px;
}

.swiper-slide img:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(25, 56, 7);
}

.swiper-slide a {
    text-align: center;
}



.finding-matcha {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(1rem, 30rem));*/
    grid-template-columns: auto auto;
    grid-gap: 1em 3em;
    padding: 10px 30px;
    
    margin: 5% 10% 5%;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    /* box-shadow: offset-x offset-y blur-radius colour; https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
    box-shadow: 0.35rem 0.35rem rgba(36, 89, 2, 1);
}

.finding-matcha img {
    display: flex;
    width: 80%;
    height: auto;
    margin-left: 15%;
    align-items: center;
    margin-top: 1rem;
}

@media only screen and (max-width:900px) {
    .finding-matcha {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .finding-matcha img {
        /*turn image sideways to look better on mobile */
        transform: rotate(90deg);
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-right: 5%;
        margin-top: 0;
    }

    .finding-matcha figure {
        margin-top: -15%;
        margin-bottom: -10%;
    }

    
}

.matcha-care {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1em 3em;
    margin: 5% 15% 5% 15% /* TOP RIGHT BOTTOM LEFT */
}

#matcha-care-header {
    text-align: center;
}

.storing-matcha-div {
    display: flex;
    gap: 2%;
}
#storing-matcha figcaption {
    font-family: 'Swily Bright', sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    width: 100%;
}

.storing-matcha-1 {
    display: flex;
    flex-direction: row;
}

#matcha-care img {
    width: 150%;
    height: auto;
}

.chasen-care {
    display: flex;
    gap: 10%;
    margin-top: 5%;
    align-items: center;

}

.chashaku-care {
    display: flex;
    gap: 10%;
    margin-top: 5%;
    align-items: center;
}

@media (max-width: 1000px) {
    .matcha-care {
        display: flex;
        flex-direction: column;
    }
    .storing-matcha-div {
        display: flex;
        flex-wrap: wrap;
    }

    .storing-matcha-1 {
        display: flex;
        flex-direction: row;
    }

    #matcha-care img {
        width: 100%;
        height: auto;
    }

    #storing-matcha figcaption {
        font-size: 0.8rem;
    }

    .chasen-care {
        display: flex;
        flex-direction: column;
    }

    .chashaku-care {
        display: flex;
        flex-direction: column;
    }
}



/* THIS IS THE BEGINNING OF THE ALL ABOUT MATCHA PAGE*/ 


/* desktop view */
.matcha-bg {
    width: 30%;
    margin-top: -30%;
    margin-left: 60%;

}

.what-is-matcha {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 50px;
    margin: -20% 15% auto 15%;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: linear-gradient(0deg, rgb(170, 237, 137) 0%, rgba(249,246,244,1) 40%);
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
    align-content: center;
}



/* mobile view */
@media only screen and (max-width:900px) {
    .what-is-matcha {
        display: flex;
        flex-direction: column;
        margin-top: -30%;
    }

    #what-is-matcha img{
        width: 100%;
        height: auto;
    }

    .matcha-bg {
        width: 40%;
        margin-top: -50%;
        margin-left: 50%;
    
    }
}

@media only screen and (max-width:600px) {
    .matcha-bg {
        display: none;
    }

    .what-is-matcha {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

}



#matcha-made {
    background: rgb(36,89,2);
    /*gradient from https://cssgradient.io/*/
    background: linear-gradient(0deg, rgba(36,89,2,1) 0%, rgba(115,186,79,1) 75%, rgba(249,246,244,1) 100%);
    margin-top: 3%;
}

/* desktop view */
.matcha-made-grid {
    display: grid;
    grid-template-columns: 1fr 70px 1fr;
    grid-template-areas:
        'header header header'
        'item1 bar aside1'
        'aside2 bar item2'
        'item3 bar aside3'
        'aside4 bar item4'
        'item5 bar aside5';  
    padding-top: 80px;
    height: auto;
    margin: auto 10%;
    text-align: center;
    
}

/* mobile and tablet view, progress bar on the left and one column of info*/
@media only screen and (max-width:850px) {
    .matcha-made-grid {
        display: grid;
        grid-template-columns: 70px auto;
        grid-template-areas:
            'header header'
            'bar item1'
            'bar image1'
            'bar item2'
            'bar image2'
            'bar item3'
            'bar image3'
            'bar item4'
            'bar image4'
            'bar item5'
            'bar image5';
        grid-column-gap: 5%;
        margin: auto 15%;
    }

    .matcha-made-item {
    opacity: 1;
    transition: opacity 0.1s;
    }
}

#matcha-made h2 {
    grid-area: header;
    text-align: center;
}

#matcha-made img {
    width: 100%;
    height: auto; 
}

/* https://www.w3schools.com/howto/howto_css_vertical_line.asp */
.progress-bar {
    grid-area: bar;
    border-left: 2px solid rgba(249,246,244,1);
    height: auto;
    position: sticky;
    z-index: 0;
    margin-left: 50%;

    display: flex;
    flex-direction: column;
    gap: 55vh;
    width: 70px; /*helps control the size of the icons*/
}

.progress-bar img {
    width: 100%;
    height: auto;
    margin-left: -50%;
    position: sticky;
    top: 90px;

}


/*.matcha-made-item {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
  
  .matcha-made-item.visible {
    opacity: 1;
  }*/

#step-1 {
    grid-area: item1;
    position: sticky;
    /*defines how far from the top of the screen the sticky item sticks */
    top: 75px;
}


#step-2 {
    grid-area: item2;
    position: sticky;
    top: 75px;
}


#step-3 {
    grid-area: item3;
    position: sticky;
    top: 75px;
}


#step-4 {
    position: sticky;
    grid-area: item4;
    color: rgba(249, 246, 244, 1);
    top: 75px;
}

#step-5 {
    position: sticky;
    grid-area: item5;
    color: rgba(249, 246, 244, 1);
    top: 75px;
}

#matcha-taste {
    background: rgb(249,246,244);
    background: linear-gradient(0deg, rgba(249,246,244,1) 0%, rgba(115,186,79,1) 53%, rgba(36,89,2,1) 100%);
}


/* desktop view */
.matcha-taste-grid {
    display: grid;
    grid-template-areas:
        'header header'
        'vegetal blank'
        'img sweetness'
        'img umami'
        'astringency aside';
    column-gap: 30px;
    margin: auto 20%;
    padding-top: 25%;
    padding-bottom: 15%
}

/* mobile and tablet view */
@media only screen and (max-width:800px) {
    .matcha-taste-grid {
        display: block;
        margin: auto 15%;
        padding-top: 40%;
        padding-bottom: 15%
    }
}

.matcha-taste-item1 {
    grid-area: header;
}

.matcha-taste-item2 {
    grid-area: vegetal;
}

.matcha-taste-item3 {
    grid-area: sweetness;
}

.matcha-taste-item4 {
    grid-area: umami;
}

.matcha-taste-item5 {
    grid-area: astringency;
}

/* desktop view */
.tea-ceremony-grid {
    display: grid;
    grid-template-areas: 
        'header header'
        'main main';
    margin: auto 10%;
    column-gap: 30px;
    text-align: center;
}

/* mobile view */
@media only screen and (max-width:600px){
    .tea-ceremony-grid {
        display: block;
    }
}

.tea-ceremony-grid img {
    width: 100%;
    height: auto;
}

.tea-ceremony-header {
    grid-area: header;
}

.usucha {
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
    margin-bottom: 10%
}

.koicha {
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
    margin-bottom: 10%
}

.matcha-caffeine {
    display: flex;
    margin: auto 15%;
}

.health-benefits {
    display: flex;
    margin: auto 15%;
}







/* beginning of styling for Matcha Recipes page */

/* THIS IS THE ORIGINAL GRID, KEPT FOR PROCESS AND REFERENCE

.recipe-grid {
    display: grid;
    grid-template-areas:
      'header header header header'
      'filter main main2 main3'
      'filter main4 main5 main6';
    grid-gap: 1em 3em;
    padding: 10px 10px 50px;
    margin: auto 5% ;
}

.recipe-filter {
    grid-area: filter;
    width: auto;
    position: fixed;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 5px 15px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.recipe-1 {
    grid-area: main;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    height: 50vh;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.recipe-2 {
    grid-area: main2;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.recipe-3 {
    grid-area: main3;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.recipe-4 {
    grid-area: main4;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.recipe-5 {
    grid-area: main5;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    height: 50vh;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.recipe-6 {
    grid-area: main6;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
} */

/* Desktop view */
/*
.recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-width: 20%;
    column-gap: 10%;
    margin: auto 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    row-gap: 5%;
}

.recipe-grid img {
    width: 50%;
    height: fixed;
    align-content: center;
}

.recipe-grid a {
    text-align: center;
    justify-content: center;
    font-size: 1.25rem;
}*/
/*
.recipe-grid a:hover {
    color: rgba(115,186,79,1);
}


/*responsive 2 column for mobile 
@media (max-width:800px) {
    .recipe-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        margin-top: 5%;
        margin-bottom: 50%;
        margin-left: 15%;

    }

    .recipe-grid img {
        width: 100%;
        height: auto;
    }

    .recipe-grid a{
        white-space: wrap;
    }
}

/*responsive 3 column for screen sizes in between mobile and desktop
@media (min-width:801px) {
    .recipe-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 20%;
    }

    .recipe-grid img {
        height: auto;
        width: 100%;
    }
}*/


/*  THIS IS THE STYLING TEMPLATE FOR ALL RECIPE PAGES */


/* desktop view */
.recipe-intro {
    text-align: center;
    margin: auto 20% 5% 20%; /*top right bottom left*/
}

.recipe-intro h1 {
    margin-top: 8%;
}

/* mobile and tablet view: changing margins to look less awkward*/
@media (max-width: 800px) {
    .recipe-intro {
        margin: auto 10% 5% 10%; /*top right bottom left*/
    }
}

/* desktop view 2 columns */
.materials {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        'img main'
        'img2 main';

    align-items: top;
    row-gap: 1%;
    margin: auto 10% 10% 10%; /*top right bottom left*/
}

.materials img {
    width: 100%;
    height: auto;
}

.img1 {
    grid-area: img;
    margin-bottom: 0;
}

.img2 {
    grid-area: img2;
    margin-top: 0;
}

.material-list {
    grid-area: main;
    height: fit-content; /* prevents div from stretching to the height of the pictures */
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 5px 30px 5px 30px; /*top right bottom left */
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}


/* mobile and tablet view with 1 column */
@media (max-width: 800px) {
    .materials {
        display: flex;
        flex-direction: column;
        column-count: 1;
        margin-left: 10%;
        margin-right: 10%
    }

}


.instructions {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto 10% auto 10%;
    align-items: center;

}
.instructions img {
    width: 100%;
    height: auto;
}

.instructions h2 {
    text-align: center;
}

.instruction-div {
    margin-bottom: 10%;
    align-items: center;
}


.instruction-div img {
    width: 100%;
    height: auto;
}

@media (max-width: 900px) {
    .instructions {
        align-items: start;

    }
}

@media (max-width: 600px) {
    .instructions {
        display: block;
        margin-left: 0;
        margin-right: 0;
        }    
    
    .instruction-div {
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .instruction-div figure {
        margin-left: 10%;
        height: auto;
    }

    .instruction-div img {
        width: 100%;
        height: auto;
    }

    .instruction-div p {
        text-align: center;
    }
    
}





