/* styling applied to all pages */

body {
    margin:0; /* default margin is 8px, this overrides that for things like the footer*/
    color: rgb(0, 0, 0); /*sets all text in the body/protein section to the same colour*/
    /*overflow-x: hidden;*/
}

html {
    background-color: rgba(249, 246, 244, 1); /*sets bg colour for the whole page, all pages*/
    /* margin: auto 5%; */
    scroll-behavior: smooth; /*makes jump links scroll smoothly instead of jumping*/
}

a {
    color:rgba(36, 89, 2, 1);
}



/* this is the old navigation bar, kept here for reference

.top-nav {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;

    top: 3%;
    width: 90%;
    margin-left: 65px;
    text-align: right;

    /* styling referenced from figma dev mode 
    border-radius: 0.7rem;
    border: 3px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    /* box-shadow: offset-x offset-y blur-radius colour; https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow 
    box-shadow: 0.35rem 0.35rem rgba(36, 89, 2, 1);
    z-index: 1;
}



@media screen and (max-width: 600px) {
   

}

.nav-bar {
    position: relative;
    margin: auto 3%;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.top-nav a {
    color: rgba(36, 89, 2, 1);
    text-decoration: none;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block; 
    width: 25px;
    height: 3px; 
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: black;
}


/* flex box: https://www.w3schools.com/css/css3_flexbox.asp 
.logo-div {
    display: flex;
    position: fixed;
    top: 0%;
    margin-left: 65px;
    width: 8.5rem;
    height: auto;

    /* styling referenced from figma dev mode 
    border-radius: 0.7rem;
    border: 3px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    /* box-shadow: offset-x offset-y blur-radius colour; https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow 
    box-shadow: 0.35rem 0.35rem rgba(36, 89, 2, 1);
    z-index: 2;
}

.nav-logo {
    font-size: 1.8rem;
    line-height: 86%;
    padding: 10px 15px;
    border-radius: 0.7rem;
    align-items: center;
    float: left;
    text-align: left;
    text-decoration: none;
    color:rgba(36, 89, 2, 1)
}

/* splits the home page from the rest of the links using split class and float*/
/* .top-nav a.split {
    float: left;
}

.top-nav a {
    margin: auto 5%;
    display: inline-block;
    padding: 1.5rem 0;
} */

/* hover effect on links: https://www.w3schools.com/cssref/sel_hover.php 
.nav-bar a:hover {
    background-color: rgba(36, 89, 2, 1);
    color: rgba(249, 246, 244, 1);
  }

  .nav-bar a.active {
    background-color: rgba(36, 89, 2, 1);
    color: rgba(249, 246, 244, 1);
  }*/


/* this is the updated navigation bar */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-item {
    list-style: none;
}

header a {
    font-family: 'Swily Bright', sans-serif;
    text-decoration: none;
    color: rgba(36, 89, 2, 1);
    margin-right: 2%;
    flex-shrink: 0;
}

.header-container {
    margin: auto;
    margin-top: 1.5%;
}

.header-subcontainer {
    width: 90%;
    margin: auto;
    background-color: #F9F6F4;
    border-radius: 0.7rem;
    border: 3px solid rgba(36, 89, 2, 1);
    /* box-shadow: offset-x offset-y blur-radius colour; https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
    box-shadow: 0.35rem 0.35rem rgba(36, 89, 2, 1);
}

.navbar {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    white-space: nowrap;
    margin-right: 2%;
}

.nav-branding {
    font-size: 1.8rem;
    line-height: 86%;
    padding: 10px 15px; 
    border-radius: 0.7rem;
    align-items: center;
    float: left;
    text-align: left;
    text-decoration: none;
    color:rgba(36, 89, 2, 1)
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    margin-right: 3%;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: rgba(36, 89, 2, 1);
    border-radius: 0.7rem;
}

/* making navigation bar responsive and coding the full screen menu for mobile*/

@media(max-width:850px) {
    .hamburger-menu {
        display: block;
    }

   .header.active {
        background-color: #F9F6F4;
        height: 100%;
        margin: 0;
    }

    .nav-menu {
        position: absolute;
        top: -1000px;
        gap: 0;

        flex-direction: column;
        width: 100%;
        margin-top: 100px;
        margin-left: -10%;
        margin-right: 10%
    }

    .nav-item {
        top: 200px;
        margin-top: 50px;
        font-size: 2rem;
    }

    .nav-menu.active {
        top: 0;
    }
}






.bottom-button {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 30px;
    width: auto;
    background-color: none;
    font-size: 1.5rem;
    margin: 5% auto 5% auto;
}

.bottom-button a {
    color: rgba(36, 89, 2, 1);
    background-color: rgba(249, 246, 244, 1);
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-size: 1.25rem;
    width: auto;
    border-radius: 1.5rem;
    border: 2px solid rgba(36, 89, 2, 1);
}


.back-to-top {
    position: sticky;
    right: 0;
    bottom: 2%;
    width: auto;
    background-color: none;
    font-size: 1.5rem;
    text-align: right;
    margin-right: 0.5%;
    margin-bottom: 2%;

    
}

.back-to-top a {
    color: rgba(36, 89, 2, 1);
    background-color: rgba(249, 246, 244, 1);
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-size: 1.25rem;

    border-radius: 1.5rem;
    border: 2px solid rgba(36, 89, 2, 1);
}


.footer {
    position: sticky;
    /*
    display: grid;
    grid-template-areas: 
        'header header header'
        'link link link'
        'bottom bottom bottom';
    column-gap: 100px;
    */
    

    width: 100%;
    height: 70vh;
    padding-top: 10px;
    background-color: rgba(36, 89, 2, 1);
    color: rgba(249, 246, 244, 1);
    text-align: center;
}

.footer a {
    color: rgba(249, 246, 244, 1);
}

.footer-header {
    grid-area: header;
}

.footer-nav {
    grid-area: link;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 0;
}

.footer-bottom {
    grid-area: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin-top: 40vh;
    white-space: nowrap;
}

.footer-logo a {
    /*grid-area: logo;*/
    text-decoration: none;

}

.footer-top a {
    /*grid-area: backtotop;*/
    color: rgba(36, 89, 2, 1);
    background-color: rgba(249, 246, 244, 1);
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-size: 1.25rem;

    border-radius: 1.5rem;
    border: 2px solid rgba(36, 89, 2, 1);

}

.footer-info {
   /*grid-area: info;*/
    background-color:rgb(0, 0, 0)
}





/* T Y P O G R A P H Y*/

h1 {
    margin-top: 150px;
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 120%;
}

p {
    font-size: 1.125rem;
    line-height: 120%;
}



/* styling for the matcha essentials page */

/* .essentials-toc {
    position: fixed;
    left: 0;
    width: auto;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 5px 20px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1); 
} */


.section-1 {
    background-color: rgba(115, 186, 79, 1);
    color: #F9F6F4;
}

.section-1 h1 {
    text-align: left;
    padding-top: 1.5rem;
    margin-left: 10%
}

.section-1 h3 {
    text-align: left;
    margin-left: 10%;
}

.section-1 ol {
    text-align: left;
    margin-left: 10%;
    font-size: 1.25rem;
    /*list-style: none; */

    /* margin: 0.5rem 5% 5% 5%;*/
    padding-bottom: 1.5rem;
}

.section-1 a {
    /* text-decoration: none; */
    color: #F9F6F4;
}



.material-grid {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(10rem, 24rem)); /*makes grid responsive but doesn't scale content according to screen size */
    grid-template-columns: auto auto auto;
    /*grid-template-areas:
      'header header header'
      'main main2 main3'
      'main4 main5 main6'; */
    grid-gap: 1em 3em;
    padding: 10px 10px 50px;
    margin: auto 5% auto 5%;
  }

.material-grid img {
    width: 60%;
    height: auto;
}

@media only screen and (max-width:600px) {
    .material-grid {
        display: grid;
        grid-template-columns: auto;
    }

}
  
.item-1 {
    /* grid-area: header; */
    text-align: center;
}

.item-2 {
    /* grid-area: main; */
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
    align-content: center;
}

.item-2:hover {
    box-shadow: 0.7rem 0.8rem rgba(36, 89, 2, 1);
}

.item-3 {
    /* grid-area: main2; */
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.item-4 {
    /* grid-area: main3; */
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.item-5 {
    /* grid-area: main4; */
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.item-6 {
    /* grid-area: main5; */
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}
    


/* mobile view */

/*
@media screen and (max-width: 600px) {
    .material-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  } */

/* .item-2 {
    grid-area: 2 / 1 / 3 / 4;
}

.item-3 {
    grid-area: 2 / 3 / 4 / 5;
}

.item-4 {
    grid-area: 2 / 5 / 6 / 7;
}

.item-5 {
    grid-area: 3 / 1 / 3 / 3l
}

.item-6 {
    grid-area: 3 / 3 / 4 / 5;
}
*/

.buy-carousel {
    /*display: grid;
    grid-template-areas:
      'header header header aside aside aside'
      'main1 main2 main3 main4 main5 main6'
      'footer1 footer2 footer3 footer4 footer5 footer6';
    grid-gap: 1em 3em; */

    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    align-items: center;
    background-color: rgba(36, 89, 2, 1);
    color: rgba(249, 246, 244, 1);
    padding: 0 30px;
    margin: 0; 
  }

.buy-carousel a {
    color: rgba(249, 246, 244, 1);
    text-decoration: none;
}

img {
    width: 300px;
}

.buy-1 {
    grid-area: header;
    text-align: left;
    margin: auto 5%;
}

.buy-2 {
    grid-area: main1;
    margin: auto 15%;
}

.buy-3 {
    grid-area: main2;
}

.buy-4 {
    grid-area: main3;
}

.buy-5 {
    grid-area: main4;
}

.buy-6 {
    grid-area: main5;
}


.finding-matcha {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(1rem, 30rem));*/
    grid-template-columns: auto auto;
    grid-gap: 1em 3em;
    padding: 10px 30px;
    

    margin: 5% 10% 5%;
    border-radius: 0.7rem;
    border: 3px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    /* box-shadow: offset-x offset-y blur-radius colour; https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
    box-shadow: 0.35rem 0.35rem rgba(36, 89, 2, 1);
}

.finding-matcha img {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

@media only screen and (max-width:800px) {
    .finding-matcha {
        display: grid;
        grid-template-columns: auto;
    }

    .finding-matcha img {
        margin-top: 0;
        margin-bottom: 5%
    }

    
}

.matcha-care {
    display: grid;
    grid-template-areas: 
        'header header'
        'main aside'
        'footer image'
        'chashaku image';
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 1em 3em;

    margin: 1% 15% 5% 15% /* TOP RIGHT BOTTOM LEFT */
}

@media (max-width: 600px) {
    .matcha-care {
        display: block;
    }
}

#matcha-care-header {
    grid-area: header;
    text-align: center;
}

#storing-matcha {
    grid-area: main;

}

#matcha-care img {
    grid-area: aside;
    width: 100%;
    height: auto;
}

#chasen-care {
    grid-area: footer;
}

#chashaku-care {
    grid-area: chashaku;
}


/* THIS IS THE BEGINNING OF THE ALL ABOUT MATCHA PAGE*/ 


/* desktop view */
#what-is-matcha {
    display: flex;
    flex-direction: row;

    padding: 10px 10px 50px;
    margin: 5% 15% auto 15%;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
    align-content: center;
}

#what-is-matcha img {
    width: 100%;
    height: auto;
}

/* mobile view */
@media only screen and (max-width:600px) {
    #what-is-matcha {
        display: flex;
        flex-direction: column;
    }

    #what-is-matcha img{
        width: 100%;
        height: auto;
    }

}


#matcha-made {
    background: rgb(36,89,2);
    background: linear-gradient(0deg, rgba(36,89,2,1) 0%, rgba(115,186,79,1) 75%, rgba(249,246,244,1) 100%);
    margin-top: 3%;
}

/* desktop view */
.matcha-made-grid {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-areas:
        'header header header'
        'item1 bar image1'
        'item2 bar image2'
        'item3 bar image3'
        'item4 bar image4'
        'item5 bar image5';  
    padding-top: 80px;
    height: 400vh;
    margin: auto 15%;
    text-align: center;
}

/* mobile and tablet view */
@media only screen and (max-width:850px) {
    .matcha-made-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
            'header header'
            'bar item1'
            'bar image1'
            'bar item2'
            'bar image2'
            'bar item3'
            'bar image3'
            'bar item4'
            'bar image4'
            'bar item5'
            'bar image5';
        grid-column-gap: 5%;
        margin: auto 15%;
    }
}

#matcha-made h2 {
    grid-area: header;
    text-align: center;
    margin-bottom: 50px;
}

#matcha-made img {
    width: 100%;
    height: auto; 
}

/* https://www.w3schools.com/howto/howto_css_vertical_line.asp */
.progress-bar {
    grid-area: bar;
    border-left: 3px solid rgba(249,246,244,1);
    height: 375vh;
    position: sticky;
    z-index: 0;
    margin-left: 50%
}

.matcha-made-item1 {
    grid-area: item1;
}

.step-1-img {
    grid-area: image1;
}


.matcha-made-item2 {
    grid-area: item2;
}

.step-2-img {
    grid-area: image2;
}

.matcha-made-item3 {
    grid-area: item3;
}

.step-3-img {
    grid-area: image3;
}

.matcha-made-item4 {
    grid-area: item4;
    color: rgba(249, 246, 244, 1);
}

.step-4-img {
    grid-area: image4;
}

.matcha-made-item5 {
    grid-area: item5;
    color: rgba(249, 246, 244, 1);
}

.step-5-img {
    grid-area: image5;
}


#matcha-taste {
    background: rgb(249,246,244);
    background: linear-gradient(0deg, rgba(249,246,244,1) 0%, rgba(115,186,79,1) 53%, rgba(36,89,2,1) 100%);
}


/* desktop view */
.matcha-taste-grid {
    display: grid;
    grid-template-areas:
        'header header'
        'vegetal blank'
        'img sweetness'
        'img umami'
        'astringency aside';
    column-gap: 30px;
    margin: auto 20%;
    padding-top: 20%;
    padding-bottom: 15%
}

/* mobile and tablet view */
@media only screen and (max-width:800px) {
    .matcha-taste-grid {
        display: block;
        margin: auto 15%;
        padding-top: 10%;
        padding-bottom: 15%
    }
}

.matcha-taste-item1 {
    grid-area: header;
    text-align: center;
    margin-bottom: 15%;
}


.matcha-taste-item2 {
    grid-area: vegetal;
}

.matcha-taste-item3 {
    grid-area: sweetness;
}

.matcha-taste-item4 {
    grid-area: umami;
}

.matcha-taste-item5 {
    grid-area: astringency;
}

/* desktop view */
.tea-ceremony-grid {
    display: grid;
    grid-template-areas: 
        'header header'
        'main main';
    margin: auto 10%;
    column-gap: 30px;
    text-align: center;
}

/* mobile view */
@media only screen and (max-width:600px){
    .tea-ceremony-grid {
        display: block;
    }
}

.tea-ceremony-grid img {
    width: 100%;
    height: auto;
}

.tea-ceremony-header {
    grid-area: header;
}

.usucha {
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
    margin-bottom: 10%
}

.koicha {
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
    margin-bottom: 10%
}

.matcha-caffeine {
    display: flex;
    margin: auto 15%;
}

.health-benefits {
    display: flex;
    margin: auto 15%;
}







/* beginning of styling for Matcha Recipes page */

/* THIS IS THE ORIGINAL GRID, KEPT FOR PROCESS AND REFERENCE

.recipe-grid {
    display: grid;
    grid-template-areas:
      'header header header header'
      'filter main main2 main3'
      'filter main4 main5 main6';
    grid-gap: 1em 3em;
    padding: 10px 10px 50px;
    margin: auto 5% ;
}

.recipe-filter {
    grid-area: filter;
    width: auto;
    position: fixed;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 5px 15px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.recipe-1 {
    grid-area: main;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    height: 50vh;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.recipe-2 {
    grid-area: main2;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.recipe-3 {
    grid-area: main3;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.recipe-4 {
    grid-area: main4;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.recipe-5 {
    grid-area: main5;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    height: 50vh;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}

.recipe-6 {
    grid-area: main6;
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 10px 30px;
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
} */

/* Desktop view */
.recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-width: 20%;
    column-gap: 10%;
    margin: auto 10%;
    margin-left: 10%;
    margin-bottom: 20%;
    row-gap: 5%;
}

.recipe-grid img {
    width: 50%;
    height: auto;
    display: flex;
    align-content: center;
}

.recipe-grid a {
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;

    font-size: 1.25rem;
}


/*responsive 2 column for mobile */
@media (max-width:800px) {
    .recipe-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        margin-top: 5%;
        margin-bottom: 50%;
        margin-left: 15%;

    }

    .recipe-grid img {
        width: 100%;
        height: auto
    }

    .recipe-grid a{
        white-space: wrap;
    }
}

/*responsive 3 column for screen sizes in between mobile and desktop*/
@media (min-width:801px) {
    .recipe-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 20%;
    }

    .recipe-grid img {
        height: auto;
        width: 100%;
    }
}


/*  THIS IS THE STYLING TEMPLATE FOR ALL RECIPE PAGES */


/* desktop view */
.recipe-intro {
    text-align: center;
    margin: auto 20% 5% 20%; /*top right bottom left*/
}

/* mobile and tablet view: changing margins to look less awkward*/
@media (max-width: 800px) {
    .recipe-intro {
        margin: auto 10% 5% 10%; /*top right bottom left*/
    }
}

/* desktop view 2 columns */
.materials {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        'img main'
        'img2 main';

    align-items: center;
    row-gap: 1%;
    margin: auto 10% 10% 10%; /*top right bottom left*/
}

.materials img {
    width: 100%;
    height: auto;
}

.img1 {
    grid-area: img;
    margin-bottom: 0;
}

.img2 {
    grid-area: img2;
    margin-top: 0;
}

.material-list {
    grid-area: main;
    height: fit-content; /* prevents div from stretching to the height of the pictures */
    border-radius: 0.7rem;
    border: 2px solid rgba(36, 89, 2, 1);
    background: #F9F6F4;
    padding: 5px 30px 5px 30px; /*top right bottom left */
    box-shadow: 0.4rem 0.4rem rgba(36, 89, 2, 1);
}


/* mobile and tablet view with 1 column */
@media (max-width: 800px) {
    .materials {
        display: block;
        column-count: 1;
        margin-left: 5%;
        margin-right: 5%
    }

}






