html {
    background-color: rgba(249, 246, 244, 1); /*sets bg colour for the whole page*/
    margin: auto 5%;
}

h1 {
    text-align: center;
}

.top-nav {
    text-align: right;
}
.top-nav a.split {
    float: left;
}

.material-grid {
    display: grid;
    grid-template-areas:
      'header header header'
      'main main main';
    grid-gap: 1em 3em;
    padding: 0px;
  }

.item-1 {
    grid-area: header;
    text-align: center;
}

/* .item-2 {
    grid-area: 2 / 1 / 3 / 4;
}

.item-3 {
    grid-area: 2 / 3 / 4 / 5;
}

.item-4 {
    grid-area: 2 / 5 / 6 / 7;
}

.item-5 {
    grid-area: 3 / 1 / 3 / 3l
}

.item-6 {
    grid-area: 3 / 3 / 4 / 5;
}
*/

.buy-grid {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'main main main main main main';
    grid-gap: 1em 3em;
    background-color: rgba(249, 246, 244, 1);
    padding: 0px;
  }

.buy-1 {
    grid-area: header;
    text-align: left;
}

.container-fluid {
    width: 100%;
    padding: 10px;
    background-color: rgba(36, 89, 2, 1);
    color: rgba(249, 246, 244, 1);
    text-align: center;
}